{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <section class="breadcrumbs">
        <div class="container">

        <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'noticias:noticias' %}">Blog</a></li>
            <li>Blog Simple</li>
        </ol>
        <h2>Blog Simple</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">

            <article class="entry entry-single">

                <div class="entry-img">
                    <center><a href="{{post.imagen_referencial.url}}"> <img src="{{post.imagen_referencial.url}} "  alt="" class="img-fluid"></center></a>
                    </div>

                    <h2 class="entry-title">
                    <a href="{% url 'noticias:detalle_post' post.slug %}">{{post.titulo}}</a>
                    </h2>

                    <div class="entry-meta">
                    <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>{{post.autor}}</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a>{{post.fecha_publicacion}}</a></li>
                    </ul>
                    </div>

                    <div class="entry-content">
                    <p>{{post.contenido}}</p>

                </div>

                <div class="entry-footer">

                    <i class="bi bi-tags"></i>
                    <ul class="tags">
                        <li><a href="">{{post.categoria}}</a></li>
                    </ul>
                </div>

            </article><!-- End blog entry -->

            <div class="blog-author d-flex align-items-center">
                <img src="{{post.autor.imagen_referencial.url}}" class="rounded-circle float-left" alt="">
                <div>
                <h4>{{post.autor}}</h4>
                <div class="social-links">
                    <a href="{{post.autor.twitter}}"target="_blank" ><i class="bi bi-twitter"></i></a>
                    <a href="{{post.autor.facebook}}" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="{{post.autor.instagram}}" target="_blank"><i class="biu bi-instagram"></i></a>
                </div>

                </div>
            </div><!-- End blog author bio -->

            <div class="blog-comments">
                
                <h4 class="comments-count"> Comentarios Realizados ({{contar_comentarios}})</h4>
                {% for x in publicacion %}
                    <div id="comment-1" class="comment">
                        <div class="d-flex">
                            <div class="comment-img"><img src="assets/img/blog/comments-1.jpg" alt=""></div>
                            <div>
                                <h5><a href="">{{x.usuario}}</a> <a class="reply"><i class="bi bi-reply-fill"></i></a></h5>
                                <time datetime="">{{x.creado}}</time>
                                <p>
                                   {{x.texto}}
                                </p>
                            </div>
                        </div>
                    </div><!-- End comment #1 -->
                {% endfor %}
                {% if user.is_authenticated %}
                    <div class="reply-form">
                        <form method="POST" action="{% url 'noticias:agregar_comentario' post.slug %}" >{% csrf_token %}
                            <div class="row">
                                    <div class="col form-group">
                                        <textarea name="coment" class="form-control" placeholder="Deja tu comentario aquí*"></textarea>
                                    </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Comentar Post</button>

                        </form>

                    </div>
                {% endif %}

            </div>

            </div><!-- End blog entries list -->

            <div class="col-lg-4">

                <div class="sidebar">
      
                  <h3 class="sidebar-title">Categorias</h3>
                  <div class="sidebar-item categories">
                    <ul>
                      <li><a href="{% url 'noticias:general' %}">General </a></li>
                      <li><a href="{% url 'noticias:educacion' %}">Educacion </a></li>
                      <li><a href="{% url 'noticias:informativo' %}">Informativo </a></li>
                    </ul>
                  </div><!-- End sidebar categories-->
      
                  <h3 class="sidebar-title">Posts Mas Recientes</h3>
                  {% for post in post_recientes %}
                    <div class="sidebar-item recent-posts">
                      <div class="post-item clearfix">
                        <img src="{{post.imagen_referencial.url}}" alt="">
                        <h4><a href="{% url 'noticias:detalle_post' post.slug %}">{{post.titulo}}</a></h4>
                        <time datetime="">{{post.fecha_publicacion}}</time>
                      </div>
                  {% endfor %}
                  </div><!-- End sidebar recent posts-->
      
                </div><!-- End sidebar -->
      
             
            </div><!-- End blog sidebar -->

        </div>

        </div>
    </section>
{% endblock contenido %}