{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
        <div class="row gx-0">

            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
                <h3>¿Quienes somos?</h3>
                <h2>Botella de amor - Resistencia</h2>
                <p>
                    “Botella de Amor” es un proyecto sin fines de lucro dedicado al desarrollo sostenible y mejoramiento de las condiciones de vida de las comunidades, con el objetivo principal de reducir los residuos plásticos en el ambiente, ya que son altamente contaminantes.
                    Asimismo, se propone generar conciencia en la ciudadanía sobre la necesidad de reducir su uso y de consumir responsablemente.
                    Acopiamos botellas llenas de plásticos de un solo uso para que sean recicladas.
                </p>
                <div class="text-center text-lg-start">
                <a  class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                    <span>Mas sobre nosotros</span>
                    <a class="bi bi-arrow-right" href="{% url 'equipo:equipo' %}">Equipo</a>
                </a>
                </div>
            </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'img/imagen2.jpg' %}" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="{% static 'img/imagen1.jpg' %}" class="img-fluid" alt="">
                </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h3>¿Qué son las Botellas de amor?</h3>
                    <h2>Botella de amor - Resistencia</h2>
                    <p>
                        El proyecto denominado «Botellas de amor» tiene como fin reutilizar las botellas PET rellenándolas de plásticos de un solo uso.
                        Las Botellas de amor permiten crear conciencia sobre la importancia de la educación ambiental y específicamente sobre la cantidad de residuos que generamos a diario. Se trata de botellas en las que se introducen residuos plásticos que, de otra manera, resultaría complejo recuperar. 
                        Estos plásticos, además de que se usan una sola vez y se descartan, en muchos casos no pueden ser reciclados por la industria.
                    </p>
                    <div class="text-center text-lg-start">
                    <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                        
                        
                    </a>
                    </div>
                </div>
                </div>

            

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>¿Cómo crear una Botella de amor?</h3>
                        <h2>Botella de amor - Resistencia</h2>
                        <p>
                            Utilizamos una botella plástica en la que se colocan plásticos de un solo uso tales como: papeles film, envoltorios de alimentos, palitos de chupetín, bolsas de supermercado y herméticas,
                             vajilla descartable, sobres de café y de jugos, bolsas de alimento balanceado, sachets, máquinas de afeitar (sin las navajas), lapiceras (sin el resorte ni la punta metálica), cepillos de dientes, tapas plásticas y sorbetes.
                             Los materiales se van comprimiendo de manera tal que puedan introducirse la mayor cantidad posible de plásticos. Sin embargo, NO pueden colocarse ni papeles, cartones, globos, metales, arena, vinilos,
                              telgopor, guantes de látex, radiografías, esponjas, aluminio, paquetes de yerba, tierra, tetra briks y telas.
                        </p>
                        <div class="text-center text-lg-start">
                        <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                            
                            
                        </a>
                        </div>
                    </div>
                    </div>
    
                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{% static 'img/imagen3.jpg' %}" class="img-fluid" alt="">
                    </div>
    
                    <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                        <img src="{% static 'img/imagen4.jpg' %}" class="img-fluid" alt="">
                        </div>
        
                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3>¿Cómo lo hacemos?</h3>
                                <h2>Botella de amor - Resistencia</h2>
                                <p>
                                    Le damos trazabilidad a las BOTELLAS DE AMOR que son fruto del trabajo de miles de personas a lo largo y ancho del país que voluntariamente separan sus residuos plásticos, 
                                    brindándoles una opción para que puedan ser recuperados. Para ello, desde agosto del 2020, constituimos a Resistencia como punto de acopio, 
                                    para juntar las botellas en un solo lugar y poder enviarlas a Buenos Aires donde eran recicladas. Actualmente, cerramos un acuerdo con una empresa local, "Ecoqiru", 
                                    que recibe las botellas, las recicla y las transforma en madera plástica en Margarita Belén

                                </p>
                                <div class="text-center text-lg-start">
                                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                    
                                    
                                </a>
                                </div>
                            </div>
                            </div>
            
                        

        </div>
        </div>

    </section>

{% endblock contenido %}