{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
        <div class="row gx-0">

            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="300">
            <div class="content">
                <h2>Botella de amor - Resistencia</h2>
                <h3>Mas sobre nosotros</h3>
                <p>
                    Se trata de un proyecto que tiene origen en Buenos Aires, a partir del cual se juntan botellas llenas de plásticos de un solo uso, limpios y secos, para producir madera plástica, en asociación con “4e Madera Plástica”, y finalmente construir muebles y juegos de niños. A través de estas acciones, se promueve el reciclaje, la reducción de desechos y la oportunidad de transformar basura en objetos útiles que pueden ser donados a comedores, escuelas y centros comunitarios.
                </p>
                
                
                
            </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'img/masSobreNosotros5.jpg' %}" class="img-fluid" alt="" width="500px">
            </div>
            
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'img/masSobreNosotros3.jpg' %}" class="img-fluid" alt="" width="500px">
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="300">
                <div class="content">
                    <h2>¿Que hacemos?</h2>
                    <p>
                        Le damos trazabilidad a las BOTELLAS DE AMOR que son fruto del trabajo de miles de personas a lo largo y ancho del país que voluntariamente separan sus residuos plásticos, brindándoles una opción para que puedan ser recuperados. Para ello, desde agosto del 2020, constituimos a Resistencia como punto de acopio, para juntar las botellas en un solo lugar y poder enviarlas a Buenos Aires donde eran recicladas. Actualmente, cerramos un acuerdo con una empresa local, Ecoqiru, que recibe las botellas, las recicla y las transforma en madera plástica en Margarita Belén. 

                    </p>
                    
                    
                </div>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="300">
                <div class="content">
                    <h2>Como funciona</h2>
                    <ul>
                        <li>En una botella de plástico se colocan plásticos de un solo uso, cuidando que estén limpios y secos, y compactando para que entre la mayor cantidad posible.</li>
                        <li>Se llevan las botellas completas a un punto de acopio.</li>
                        <li>Se envían a Ecoqiru, para ser procesadas y transformadas en madera plástica y luego en muebles y juegos de niños.</li>
                        <li>Nos regresan un porcentaje de lo enviado en muebles y juegos de niños que serán donados a instituciones que lo necesiten en nuestra comunidad.</li>
                    </ul>
                </div>
            </div>
    
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'img/masSobreNosotros2.jpg' %}" class="img-fluid" alt="" width="500px">
            </div>

                
        </div>
        </div>

    </section>

{% endblock contenido %}