{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <section id="team" class="team">

        <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Equipo</h2>
            <p>Nuestro equipo</p>
        </header>

        <div class="row gy-4">
        {% for e in equipo %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
                <div class="member-img">
                <img src="{{e.imagen.url}}" class="img-fluid" alt="Foto de la integrante {{e.nombre}}">
                </div>
                <div class="member-info">
                <h4>{{e.nombre}}</h4>
                <span>Integrante de Botella de Amor</span>
                <p>{{e.informacion}}</p>
                </div>
            </div>
            </div>
        {% endfor %}

            

        </div>

        </div>

    </section>
{% endblock contenido %}