{% extends 'base.html' %}
{% load static %}

{% block contenido %}
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Llenando Botellas de Amor</h1>
          {% if user.is_authenticated %}
            <h2 data-aos="fade-up" data-aos-delay="400"><i class="fa-solid fa-heart"> Bienvenido {{user.username}}!.</i></h2>
          {% else %}
          <h2 data-aos="fade-up" data-aos-delay="400"><i class="fa-solid fa-heart"> Bienvenido, crea una cuenta o logueate para una mejor experiencia.</i></h2>
          {% endif %}
            <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="{% url 'sobre_nosotros:sobre_nosotros' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>¿Quienes somos?</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'img/botelladeamor.png' %}" class="img-fluid" alt="">
        </div>
      </div>
  </div>

</section><!-- End Hero -->
  {% endblock contenido %}